<%- include('../template/header.ejs') %>
    <div class="containerTotal">
        <%- include('../template/nav.ejs') %>

            <div class="actu">
                <h2 class="titleNav">Accueil</h2>
                <div class="tweet">
                    <img src="../../public/img/profile.png" alt="" class="imgProfile" />
                    <form action="/accueil/newTweet" method="POST" class="formTweet">
                        <textarea id="textTweet" cols="90" rows="4" maxlength="140" placeholder="Quoi de neuf ?" name="tweet"></textarea>
                        <button type="submit" class="sendTweet">Tweeter</button>
                    </form>
                </div>
                <div class="containerTweet">
                    <% for (tweet of tweets) { %>
                        <div class="date">
                            <h4>
                                <%= tweet.first_name %>
                                    <span class="separeName">-</span>
                            </h4>
                            <h5>
                                <%= tweet.created_at.fromNow() %>
                            </h5>
                        </div>
                        <div class="containName">
                            <div class="containImgName">
                                <a href="/profil"><img src="../../public/img/profile.png" alt="" class="imgProfile" /></a>
                            </div>
                            <div class="containPara">
                                <p>
                                    <%= tweet.tweet %>
                                </p>
                            </div>
                        </div>
                        <% } %>
                </div>

            </div>

            <div class="containerSearch">
                <input type="search" id="site-search" placeholder="Rechercher sur twitter" />
            </div>
    </div>
    <%- include('../template/footer.ejs') %>